*{
    list-style: none;
}
ul{
    display: flex;
    gap: 30px;
}
ul li a{
    font-size: 28px;
}

.active{
    color: blue;
}
p{
    font-size: 19px;
}
h1{
    font-size: 36px;
}

.conyainer{
    display: flex;
}